@{
    ViewBag.Title = "About Me";
}

<img id="abtme" src="~/Content/Images/srnsr19.jpg" />
<h1>About Me</h1>
<h3>@ViewBag.Message</h3>

<p id="Abtmeintr-1">I attend IUS for a bachelor's degree in fine arts.  Art to me is a very elegant way to express the deep emtions that I feel inside.  And I wish to give art lovers, admirers an emotional experiance that they can understand, and relate to.  I hope that you enjoy my blog, and the many artworks that I work passionately on.</p>
