<!DOCTYPE html>
<html>
<head>
    <title>Artworks Blog</title>
	<meta charset="utf-8" />
    <img class="atwks-img" src="~/Content/Images/srnsr14.jpg" />
    <h1 class="AtwksBlg-H3">Artworks Blog</h1>
    <h3 id="atwks-blg-intr">Welcome to my artworks blog!<br />  Here all of work<br /> (as well as in-progress)<br /> can be viewed, and commented<br /> on.  I also encourage feedback<br /> as it helps me to understand<br /> everything in a new way that<br /> will also help me to improve<br /> the quality of my art.</h3>
</head>
<body>

</body>
</html>
