
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img id="srpntng" src="~/Content/Images/srnsr.jpg" />
    <h1 class="AtwksBlg-H1">SARAH'S ARTWORKS BLOG</h1>
    <p class="h1-intro">Welcome to my artworks blog!  This is a site where lovers of art can share ideas, talk about, brainstorm even push each other to new heights of abilities in creative art.  Whatever your way of art may be, I hope that you find my blogging site as enjoyable as I do! </p>
    
</div>
